@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Medium Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AA Stetica';
    src: url('../fonts/AAStetica/AA Stetica Black_0.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --dark: #323232;
    --gray: #F4F4F4;
    --light: #E6E6E6;
    --border: #BFBFBF;
    --blue: #20436C;
    --blue-light: #EEF6FF;
}

body {
    font-family: 'AA Stetica', sans-serif;
}

#menu-primary li a {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
}

#menu-primary li a:hover {
    color: var(--blue);
    box-shadow: 0px 1px 0px 0 var(--blue);
}

/* Slider */
.hero-slider {
    --swiper-navigation-color: var(--blue);
    --swiper-pagination-color: var(--blue);
}

/* Burger */
.burger {
    width: 28px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: none;
    border: none;
    padding: 0;
    z-index: 11;
}

.burger span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.35s ease, opacity 0.25s ease;
}

.burger span:nth-child(1) { top: 0; }
.burger span:nth-child(2) { top: 50%; transform: translateY(-50%); }
.burger span:nth-child(3) { bottom: 0; }

.burger.is-active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger.is-active span:nth-child(2) {
    opacity: 0;
}

.burger.is-active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

/* Mobile menu */
div#mobile-menu {
    z-index: 10;
    background-color: white;
    width: 100%;
    transition: right .2s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    padding-top: 22px;
}

div#mobile-menu.is-open {
    right: 0;
}

.burger.is-active span {
    background-color: black;
}

#mobile-menu ul li a {
    display: block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    padding: 14px 0;
    border-bottom: 1px solid #ededed;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
}

#mobile-menu ul li a:hover {
    color: white;
    background-color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.card-feature {
    border-right: 1px solid #E2E2E261;
}

.card-feature:last-child {
    border: none;
}

h2::after {
    content: '';
    height: 4px;
    width: 100px;
    background: var(--blue);
    display: block;
    margin-top: 10px;
}

@media screen and (768px) {
    h2::after {
        height: 2px;
        width: 46px;
        margin-top: 6px;
    }
}

@media screen and (1024px) {
    .card-feature:nth-last-child(2) {
        border: none;
    }
}